body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #d9a178;
  font-family: "New Amsterdam", sans-serif;
}

.library {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Objets interactifs */
.item {
  position: absolute;
  width: 1100px;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 2;
}

.item:hover {
  transform: scale(1.15);
}

/* Placement précis des objets */
#skills { top: 10px; left: 750px; }        
#education { bottom: 260px; left: 750px; }    
#experience { top: 50px; left: 380px; }    
#contacts { top: 340px; left: 380px; }     
#cv { top: 330px; left: 750px; }            
#photos { top: 340px; left: 550px; }       
#projets { top: 60px; right: 520px; }       
#github { top: 600px; left: 1220px; width: 70px; } 

/* Popup */
.popup {
  position: fixed; /* permet au popup de suivre précisément la souris */
  display: none;
  color: #ffffff;
  font-family: 'Caveat Brush', cursive;
  font-size: 20px;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  pointer-events: none;
  z-index: 5;
  transform: translate(-50%, -120%);
  animation: fadeIn 0.2s ease;
}

/* Animation fluide */
@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -100%); }
  to { opacity: 1; transform: translate(-50%, -120%); }
}
